.wrap {
    margin: 60px auto;
    width: 800px;
}

.block {
    width: 200px;
    height: 200px;
    background: red;
    color: white;
    transform: rotate(40deg);
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block .text {
    transform: rotate(138deg);
    font-size: 8rem;
}